<!doctype html>
<html lang="en">
  <head>
      {{> head }}
  </head>
  <body>
    <h1>{{pageTitle}}</h1>    
    <button type="button" class="btn btn-primary" id = "btnCall">Call</button>
    <table id ="tableTeams">
        <tbody>            
        </tbody>
    </table>
    {{> scripts}}
  </body>
</html>